{% extends "header.html" %} {% block title %}Deine Tagebucheinträge{% endblock
%} {% block content %}
<main>
  {% if entries %}
  <ul class="entry-list">
    {% for entry in entries %}
    <li class="entry">
      <div class="entry-header">
        <span class="entry-date"
          >{{ entry.created_at.strftime('%d.%m.%Y %H:%M') }}</span
        >
        <span class="entry-mood">Stimmung: {{ entry.mood }}</span>
        <span class="entry-energy">Energie: {{ entry.energy }}</span>
      </div>
      <div class="entry-content">
        <p><strong>Eintrag:</strong></p>
        <p>{{ entry.entry }}</p>
      </div>
      {% if entry.gratitude %}
      <div class="entry-gratitude">
        <p><strong>Dankbarkeit:</strong> {{ entry.gratitude }}</p>
      </div>
      {% endif %}
      <form
        method="POST"
        action="{{ url_for('delete_entry', entry_id=entry.id) }}"
        class="delete-form"
      >
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Du hast noch keine Tagebucheinträge erstellt.</p>
  {% endif %}
</main>
{% endblock %}
