{% extends "header.html" %} {% block title %}Meditationen{% endblock %} {% block
content %}
<main class="meditations-overview">
  <div>
    <h2>Wähle eine Meditation</h2>
    <div class="meditation-grid">
      {% for meditation in meditations %}
      <div class="meditation-card">
        <h3>{{ meditation.title }}</h3>
        <p>{{ meditation.description }}</p>
        <a
          href="{{ url_for('meditation', meditation_id=meditation.id) }}"
          class="button"
          >Meditation starten</a
        >
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
