{% extends "header.html" %} {% block title %}Registrieren{% endblock %} {% block
content %}
<main>
  <div class="login-container">
    <h2>Registrieren</h2>
    <form method="POST" class="login-form">
      <input type="text" name="username" placeholder="Benutzername" required />
      <input type="email" name="email" placeholder="E-Mail" required />
      <input type="password" name="password" placeholder="Passwort" required />
      <button type="submit">Registrieren</button>
    </form>
    <p>
      Bereits registriert?
      <a href="{{ url_for('login') }}">Hier einloggen</a>
    </p>
  </div>
</main>
{% endblock %}
