<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Highscores</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/highscore.css" />
  </head>
  <body>
    <h1>Highscores</h1>
    <table>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Benutzername</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'footer.html' %}
  </body>
</html>
